<div class="container py-4">
  <h3 class="mb-3">Update Category</h3>

  <p-toast />
  @if(loading){
  <p>Loading...</p>
  }@else {
  <div class="card flex justify-center border border-white">
    <form
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4 w-full sm:w-56"
    >
      <div class="flex flex-col gap-1 my-3">
        <label for="name">Category Name</label>
        <br />
        <input
          pInputText
          type="text"
          id="name"
          placeholder="Enter your category name"
          formControlName="name"
          class="w-50 mt-1"
          [invalid]="isInvalid('name')"
        />
        @if (isInvalid('name')) {
        <p-message severity="error" size="small" variant="simple"
          >Category Name is required.</p-message
        >
        }
      </div>

      <div class="flex flex-col gap-1 my-3">
        <label for="image">Category Image</label>
        <br />
        <input
          pInputText
          type="url"
          id="image"
          placeholder="Enter your category image"
          formControlName="image"
          class="w-50 mt-1"
          [invalid]="isInvalid('image')"
        />
        @if (isInvalid('image')) {
        <p-message severity="error" size="small" variant="simple"
          >Category Image is required.</p-message
        >
        }
      </div>

      <div class="d-flex gap-2 justify-content-end">
        <button pButton severity="danger" type="reset">
          <span pButtonLabel>Reset</span>
        </button>
        <button pButton severity="secondary" type="add">
          <span pButtonLabel>Add</span>
        </button>
      </div>
    </form>
  </div>
  }
</div>
