<section class="container py-5">
  <h2 class="text-start mb-4 fw-bold">Shop by Categories</h2>
  <div class="row g-lg-3 g-2">
    @if(loading){
    <p>Loading...</p>
    } @if (!loading && categories.length === 0) {
    <p>No categories found.</p>
    } @for (category of categories; track category._id) {
    <a
      [routerLink]="['/shop']"
      [queryParams]="{ category: category.name }"
      class="col-6 col-md-4 col-lg-2"
    >
      <div class="category-card position-relative overflow-hidden rounded-3">
        <img
          [src]="category.image"
          class="img-fluid w-100 h-100 object-fit-cover"
          alt="Shooter"
        />
        <div
          class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <h6 class="text-white fw-bold m-0">{{ category.name }}</h6>
        </div>
      </div>
    </a>
    }
  </div>
</section>
