<app-header />
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 mb-4">
      @if (loading) {
      <p>Loading...</p>
      }@else {
      <div class="blog-card shadow-sm p-4 rounded bg-white">
        <img
          [src]="blog.images[0]"
          alt="Blog Banner"
          class="img-fluid rounded mb-4"
        />
        <h2 class="blog-title mb-3">{{ blog.title }}</h2>
        <p class="text-muted mb-4">
          Posted on {{ blog.createdAt | date }} by Admin
        </p>
        <p class="blog-text">
          {{ blog.description }}
        </p>
        <p>
          {{ blog.description }}
        </p>
        <p>
          {{ blog.description }}
        </p>
      </div>
      }
    </div>

    <!-- static ui -->
    <div class="col-lg-4">
      <div class="suggested-blogs bg-light p-3 rounded shadow-sm">
        <h5 class="mb-3">Suggested Blogs</h5>
        <div class="suggested-item d-flex mb-3">
          <img
            src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F30125%2Fblog.png&w=828&q=75"
            class="rounded me-3"
            alt="Thumbnail"
          />
          <div>
            <h6 class="mb-1">5 Must-Have Bags This Season</h6>
            <small class="text-muted">June 22, 2025</small>
          </div>
        </div>
        <div class="suggested-item d-flex mb-3">
          <img
            src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F30125%2Fblog.png&w=828&q=75"
            class="rounded me-3"
            alt="Thumbnail"
          />
          <div>
            <h6 class="mb-1">Why Sustainable Fashion Matters</h6>
            <small class="text-muted">May 10, 2025</small>
          </div>
        </div>
        <div class="suggested-item d-flex">
          <img
            src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F30125%2Fblog.png&w=828&q=75"
            class="rounded me-3"
            alt="Thumbnail"
          />
          <div>
            <h6 class="mb-1">10 Online Stores for Trendy Footwear</h6>
            <small class="text-muted">April 18, 2025</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-home-blogs />
<app-footer />
