<app-header />
<section class="container py-5">
  <div class="row g-5 align-items-start">
    <div class="col-lg-6">
      <div class="main-image mb-2">
        <img
          src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F40877%2FiPhone-16-price-in-Bangladesh-1.jpg&w=640&q=75"
          class="img-fluid w-100 rounded"
          alt="Main Product"
        />
      </div>

      <div class="d-flex align-content-center justify-content-evenly gap-2">
        <img
          src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F41762%2FSAMSUNG-GALAXY-S25-5G-PRICE-IN-BANGLADESH-(2).jpg&w=640&q=75"
          class="img-fluid showcase_img rounded"
          alt="Main Product"
        />
        <img
          src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F41789%2Fsamsung-galaxy-s25ultra-price-in-bangladesh-(2).jpg&w=640&q=75"
          class="img-fluid showcase_img rounded"
          alt="Main Product"
        />
        <img
          src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F40942%2FiPhone-16-pro-price-in-Bangladesh-1.jpg&w=640&q=75"
          class="img-fluid showcase_img rounded"
          alt="Main Product"
        />
        <img
          src="https://dazzle.com.bd/_next/image?url=https%3A%2F%2Fdazzle.sgp1.cdn.digitaloceanspaces.com%2F41250%2FiPhone-16-plus-price-in-Bangladesh-Teal1.jpg&w=640&q=75"
          class="img-fluid showcase_img rounded"
          alt="Main Product"
        />
      </div>
    </div>

    <div class="col-lg-6">
      <h2 class="fw-bold mb-3">Gaming Headset Pro</h2>
      <p class="text-muted mb-2">Brand: HyperSound</p>
      <h4 class="text-primary fw-semibold mb-3">$199.99</h4>

      <p class="mb-4">
        Experience immersive audio with noise-canceling and long-lasting
        comfort. Perfect for gamers and streamers. Wired and wireless dual mode.
      </p>

      <div class="d-flex gap-3 mb-4">
        <button class="btn btn-primary px-4">Add to Cart</button>
        <button class="btn btn-outline-secondary px-4">
          <i class="bi bi-heart"></i> Wishlist
        </button>
      </div>

      <ul class="list-unstyled">
        <li><strong>Category:</strong> Accessories</li>
        <li><strong>Availability:</strong> In Stock</li>
        <li><strong>Shipping:</strong> Free worldwide shipping</li>
      </ul>
    </div>
  </div>
</section>


<app-recent-products />
<app-footer />
