$primary-color: #4f46e5;
$light-bg: #fff;
$transition: 0.3s;

.main-image img {
  height: 500px;
  object-fit: cover;
}

.showcase_img {
  width: 200px;
  height: 120px;
  cursor: pointer;
  padding: 4px;
  object-fit: cover;
}

.selected {
  border: 2px solid $primary-color;
}

.text_color {
  color: $primary-color;
}

.cart_btn {
  padding: 0.5rem 1rem;
  background-color: $primary-color;
  color: $light-bg;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    background-color: #6b63f3;
  }
}
