<app-header />
<section class="container py-5">
  @if(loading){
  <p>Loading...</p>
  }@else {
  <div class="row g-5 align-items-start">
    <div class="col-lg-6">
      <div class="main-image mb-2">
        <img
          [src]="selectedImage"
          class="img-fluid w-100 rounded"
          alt="product.name"
        />
      </div>

      <p-carousel
        [value]="product.images"
        [numVisible]="4"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [showIndicators]="false"
      >
        <ng-template let-image pTemplate="item">
          <img
            [src]="image"
            class="img-fluid showcase_img rounded"
            [ngClass]="{ selected: image === selectedImage }"
            alt="Product"
            (click)="getImage(image)"
            style="cursor: pointer"
          />
        </ng-template>
      </p-carousel>
    </div>

    <div class="col-lg-6">
      <h2 class="fw-bold mb-3">{{ product.name }}</h2>
      <p class="text-muted mb-2">Brand: HyperSound</p>
      <h4 class="text_color fw-semibold mb-3">${{ product.price }}</h4>

      <p class="mb-4">
        {{ product.description }}
      </p>

      <div class="d-flex gap-3 mb-4">
        <button class="cart_btn" (click)="addToCart(product)">Add to Cart</button>
        <p-button
          class="mt-1"
          (onClick)="toggleWishlist(product._id)"
          icon="pi pi-heart"
          [severity]="isWishlisted ? 'danger' : 'secondary'"
          [outlined]="!isWishlisted"
          size="small"
          styleClass="p-button-rounded"
        ></p-button>
      </div>

      <ul class="list-unstyled">
        <li><strong>Category:</strong> Accessories</li>
        <li><strong>Availability:</strong> In Stock</li>
        <li><strong>Shipping:</strong> Free worldwide shipping</li>
      </ul>
    </div>
  </div>
  }
</section>

<app-recent-products />
<app-footer />
