<div class="container-lg py-lg-4">
  <h4 class="mb-4">Product Management</h4>
  <p-toast />

  @if (loading) {
  <p>Loading...</p>
  }@else {
  <div class="card">
    <p-table
      #dt1
      [value]="products"
      [globalFilterFields]="[
        'name',
        'brandId.name',
        'categoryId.name',
        'shortDescription',
        'price'
      ]"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      stateStorage="session"
      stateKey="product-management"
    >
      <ng-template #caption>
        <div class="d-flex align-items-center justify-content-between">
          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="search"
              [(ngModel)]="globalFilterValue"
              (ngModelChange)="dt1.filterGlobal(globalFilterValue, 'contains')"
              placeholder="Search by name, brand, category..."
            />
          </p-iconfield>
          <div class="d-md-block d-none">
            <a routerLink="/dashboard/add-product" class="d-btn">Add Product</a>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Image</th>
          <th>Short Description</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Featured</th>
          <th>New</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
        <tr>
          <td>#{{ product._id.slice(0, 5) }}</td>
          <td>{{ product.name }}</td>
          <td>
            <img
              [src]="product.images[0]"
              alt="Product Image"
              class="product_image"
            />
          </td>
          <td>{{ product.shortDescription }}</td>
          <td>${{ product.price }}</td>
          <td>{{ product.discount }}%</td>
          <td>{{ product.brandId?.name }}</td>
          <td>{{ product.categoryId?.name }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="product.isFeatured ? 'bg-success' : 'bg-secondary'"
              >{{ product.isFeatured ? "Yes" : "No" }}</span
            >
          </td>
          <td>
            <span
              class="badge"
              [ngClass]="product.isNew ? 'bg-success' : 'bg-secondary'"
              >{{ product.isNew ? "Yes" : "No" }}</span
            >
          </td>
          <td>
            <div class="d-flex g-2">
              <a
                class="btn btn-sm btn-warning me-1"
                title="Edit"
                [routerLink]="['/dashboard/product/edit/', product._id]"
              >
                <i class="pi pi-pen-to-square mt-1"></i>
              </a>
              <button
                class="btn btn-sm btn-danger"
                title="Delete"
                (click)="deleteProduct(product._id)"
              >
                <i class="pi pi-trash mt-1"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="11">No products found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  }
</div>
