<div class="container-fluid py-4">
  <h3 class="mb-4">Product Management</h3>

  <div class="row mb-3">
    <div class="col-md-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name, brand, category..."
      />
    </div>
  </div>

  <div class="table-responsive">
    <table
      class="table table-bordered table-hover align-middle text-center product-table"
    >
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Image</th>
          <th>Short Description</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Featured</th>
          <th>New</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Smartphone</td>
          <td>
            <div class="image-preview">
              <img src="https://via.placeholder.com/40" alt="img1" />
            </div>
          </td>
          <td>Latest model</td>
          <td>$500</td>
          <td>10%</td>
          <td>Samsung</td>
          <td>Electronics</td>
          <td><span class="badge bg-success">Yes</span></td>
          <td><span class="badge bg-info">Yes</span></td>

          <td>
            <a class="btn btn-sm btn-warning me-1" title="Edit" routerLink="/dashboard/product/edit/123">✏️</a>
            <button class="btn btn-sm btn-danger" title="Delete">🗑️</button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Smartphone</td>
          <td>
            <div class="image-preview">
              <img src="https://via.placeholder.com/40" alt="img1" />
            </div>
          </td>
          <td>Latest model</td>
          <td>$500</td>
          <td>10%</td>
          <td>Samsung</td>
          <td>Electronics</td>
          <td><span class="badge bg-success">Yes</span></td>
          <td><span class="badge bg-info">Yes</span></td>

          <td>
            <a class="btn btn-sm btn-warning me-1" title="Edit" routerLink="/dashboard/product/edit/123">✏️</a>
            <button class="btn btn-sm btn-danger" title="Delete">🗑️</button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Smartphone</td>
          <td>
            <div class="image-preview">
              <img src="https://via.placeholder.com/40" alt="img1" />
            </div>
          </td>
          <td>Latest model</td>
          <td>$500</td>
          <td>10%</td>
          <td>Samsung</td>
          <td>Electronics</td>
          <td><span class="badge bg-success">Yes</span></td>
          <td><span class="badge bg-info">Yes</span></td>

          <td>
            <a class="btn btn-sm btn-warning me-1" title="Edit" routerLink="/dashboard/product/edit/123">✏️</a>
            <button class="btn btn-sm btn-danger" title="Delete">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
