<div class="product-card card h-100 shadow-sm border rounded">
  <a [routerLink]="['/product', product._id]">
    <img
      [src]="product.images[0]"
      class="card-img-top"
      [alt]="product.name"
      loading="lazy"
      style="object-fit: cover; height: 200px"
    />
  </a>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ product.name }}</h5>
    <a [routerLink]="['/product', product._id]" class="text-decoration-none">
      <p class="card-text flex-grow-1 text-muted">
        {{ product.shortDescription }}
      </p>
    </a>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="fw-bold fs-5">${{ product.price }}</div>
      <div class="d-flex justify-content-center gap-2">
        <p-button
         (onClick)="addToWishlist(product._id)"
          icon="pi pi-heart"
          severity="secondary"
          [outlined]="true"
          size="small"
          styleClass="p-button-rounded"
        ></p-button>
        <p-button
          icon="pi pi-shopping-cart"
          size="small"
          styleClass="p-button-rounded"
        ></p-button>
      </div>
    </div>
  </div>
</div>
