<div class="container py-5">
  <h2 class="text-start mb-4 fw-bold">Featured Products</h2>
  <div class="card border border-white">
    <p-carousel
      [value]="products"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [showIndicators]="false"
    >
      <ng-template let-product #item>
        <div
          class="rounded border p-3 h-100 text-center d-flex flex-column gap-2 justify-content-between"
        >
          <div class="position-relative mb-3">
            <img
              src="https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/primary/ProductShowcasesampleimages/JPEG/Product+Showcase-1.jpg"
              [alt]="product.name"
              class="img-fluid rounded"
              style="width: 100%; height: 160px; object-fit: cover"
            />
            <p-tag
              [value]="product.inventoryStatus"
              class="position-absolute"
              [ngStyle]="{ 'top.px': 5, 'left.px': 5 }"
            />
          </div>
          <h6 class="mb-2 fw-semibold">{{ product.name }}</h6>
          <p class="card-text flex-grow-1 text-muted">
            {{ product.shortDescription }}
          </p>
          <div class="d-flex align-items-center justify-content-around">
            <div class="text-color fw-bold mb-2">${{ product.price }}</div>
            <div class="d-flex justify-content-center gap-2">
              <p-button
                icon="pi pi-heart"
                severity="secondary"
                [outlined]="true"
                size="small"
                styleClass="p-button-rounded"
              ></p-button>
              <p-button
                icon="pi pi-shopping-cart"
                size="small"
                styleClass="p-button-rounded "
              ></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
