<section class="container py-5">
  <h2 class="mb-4 fw-bold text-start">Latest Blog Posts</h2>
  <div class="row g-4">
    @if(loading){
    <p>Loading...</p>
    } @else { @for (blog of blogs; track blog._id) {
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card h-100 shadow-sm">
        <a [routerLink]="'/blogs/' + blog._id">
          <img
            [src]="blog.images[0]"
            class="card-img-top"
            alt="Blog Post"
            style="object-fit: cover; height: 180px"
          />
        </a>
        <div class="card-body d-flex flex-column">
          <a [routerLink]="'/blogs/' + blog._id" class="text-decoration-none">
            <h5 class="card-title">{{ blog.title }}</h5>
          </a>
          <a [routerLink]="'/blogs/' + blog._id" class="text-decoration-none">
            <p class="card-text flex-grow-1 text-muted">
              {{ blog.description }}
            </p>
          </a>
          <small class="text-secondary mb-3">{{ blog.createdAt | date }}</small>
          <a [routerLink]="'/blogs/' + blog._id" class="blog_btn mt-auto"
            >Read More</a
          >
        </div>
      </div>
    </div>
    } }
  </div>
</section>
