<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-5">
    <p-card header="Welcome Back" styleClass="shadow-sm">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            pInputText
            type="email"
            formControlName="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
          />

          @if(loginForm.get("email")?.touched &&
          loginForm.get("email")?.hasError("required")){
          <small class="text-danger"> Email is required. </small>
          }
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            pInputText
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
          />
          @if(loginForm.get("password")?.touched &&
          loginForm.get("password")?.hasError("required")){
          <small class="text-danger">Password is required.</small>
          } @if(loginForm.get("password")?.touched &&
          loginForm.get("password")?.hasError("minlength")){
          <small class="text-danger"
            >Password must be at least 8 characters.</small
          >
          }
        </div>

        <div class="mb-3">
          <button
            pButton
            type="submit"
            label="Login"
            class="w-100"
            [disabled]="loginForm.invalid"
          ></button>
        </div>

        <div class="text-center">
          <span>Don't have an account?</span>
          <a class="ms-1" routerLink="/register">Register</a>
        </div>
      </form>
    </p-card>
  </div>
</div>
