<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-5 shadow p-4 rounded">
    <h4>Welcome Back</h4>
    <p-toast />
    <div class="card flex justify-center border border-white">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col gap-4 w-full sm:w-56"
      >
        <div class="flex flex-col gap-1 mt-2">
          <label for="email">Email</label>
          <input
            pInputText
            type="email"
            id="email"
            placeholder="Enter your email"
            formControlName="email"
            class="w-100 mt-1"
            [invalid]="isInvalid('email')"
          />
          @if (isInvalid('email')) { @if
          (loginForm.get('email')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple"
            >Email is required.</p-message
          >
          } @if (loginForm.get('email')?.errors?.['email']) {
          <p-message severity="error" size="small" variant="simple"
            >Please enter a valid email.</p-message
          >
          } }
        </div>
        <div class="flex flex-col gap-1 my-3">
          <label for="password">Password</label>
          <input
            pInputText
            type="password"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
            class="w-100 mt-1"
            [invalid]="isInvalid('password')"
          />
          @if (isInvalid('password')) {
          <p-message severity="error" size="small" variant="simple"
            >Password is required.</p-message
          >
          }
        </div>
        <button type="submit" class="d-btn w-100">
          @if(loading) { Loading... }@else { Login }
        </button>
      </form>
      <div class="d-flex gap-2 justify-content-between my-3">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm w-50"
          (click)="fillDemoUser()"
        >
          Demo User
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm w-50"
          (click)="fillDemoAdmin()"
        >
          Demo Admin
        </button>
      </div>

      <div class="text-center mt-4">
        <span>Don't have an account?</span>
        <a class="ms-1" routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>
