<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-5 shadow p-4 rounded">
    <h4>Create an Account</h4>
    <p-toast />
    <div class="card flex justify-center border border-white">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col gap-4 w-full sm:w-56"
      >
        <div class="flex flex-col gap-1 mt-2">
          <label for="name">Name</label>
          <input
            pInputText
            type="text"
            id="name"
            placeholder="Enter your name"
            formControlName="name"
            class="w-100 mt-1"
            [invalid]="isInvalid('name')"
          />
          @if (isInvalid('name')) {
          <p-message severity="error" size="small" variant="simple"
            >Name is required.</p-message
          >
          }
        </div>
        <div class="flex flex-col gap-1 mt-2">
          <label for="email">Email</label>
          <input
            pInputText
            type="email"
            id="email"
            placeholder="Enter your email"
            formControlName="email"
            class="w-100 mt-1"
            [invalid]="isInvalid('email')"
          />
          @if (isInvalid('email')) { @if
          (registerForm.get('email')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple"
            >Email is required.</p-message
          >
          } @if (registerForm.get('email')?.errors?.['email']) {
          <p-message severity="error" size="small" variant="simple"
            >Please enter a valid email.</p-message
          >
          } }
        </div>
        <div class="flex flex-col gap-1 my-3">
          <label for="password">Password</label>
          <input
            pInputText
            type="password"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
            class="w-100 mt-1"
            [invalid]="isInvalid('password')"
          />
          @if (isInvalid('password')) {
          <p-message severity="error" size="small" variant="simple"
            >Password is required.</p-message
          >
          }
        </div>
        <button type="submit" class="d-btn w-100">
          @if (loading) { loading... }@else { Register }
        </button>
      </form>
      <div class="text-center mt-4">
        <span>Already have an account?</span>
        <a class="ms-1" routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</div>
