<div class="container-fluid py-4">
  <h4 class="mb-4">Brand Management</h4>

  @if (loading) {
  <p>Loading...</p>
  }@else if (!loading && brands.length === 0) {
  <p>No brands available.</p>
  }@else {
  <div class="card">
    <p-table
      #dt1
      [value]="brands"
      [globalFilterFields]="['_id', 'name']"
      [rows]="5"
      [paginator]="true"
      dataKey="_id"
      stateStorage="session"
      stateKey="order-management"
    >
      <ng-template #caption>
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="search"
            [(ngModel)]="globalFilterValue"
            (ngModelChange)="dt1.filterGlobal(globalFilterValue, 'contains')"
            placeholder="Global Search"
          />
        </p-iconfield>
      </ng-template>

      <ng-template #header>
        <tr>
          <th>Brand ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template #body let-brand>
        <tr>
          <td>#{{ brand._id.slice(0, 5) }}</td>
          <td>
            <img [src]="brand.image" class="brand_image" [alt]="brand.name" />
          </td>
          <td>{{ brand.name }}</td>
          <td>
            <a
              class="btn btn-sm btn-warning me-1"
              title="Edit"
              routerLink="/dashboard/brand/edit/123"
            >
              <i class="pi pi-pen-to-square mt-1"></i>
            </a>
            <button class="btn btn-sm btn-danger" title="Delete">
              <i class="pi pi-trash mt-1"></i>
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template emptymessage>
        <tr>
          <td colspan="7">No brands found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  }
</div>
