<app-header />

<div class="container py-4">
  <p-toast />
  @if(orderStep === 0){
  <div class="card">
    <p-table
      #dt1
      [value]="cartItems"
      [rows]="10"
      [paginator]="cartItems.length > 10"
      dataKey="product._id"
      stateStorage="session"
      stateKey="order-management"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Product</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr>
          <td>
            <img
              class="cart_image"
              [src]="item.product?.images?.[0]"
              alt="Product Image"
              style="width: 50px; height: auto"
            />
          </td>
          <td>{{ item.product.name }}</td>
          <td>${{ item.product.price }}</td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <button
                class="btn btn-sm btn-outline-secondary"
                (click)="addToCart(item.product._id!, -1)"
                [disabled]="item.quantity <= 1"
              >
                -
              </button>
              <span>{{ item.quantity }}</span>
              <button
                class="btn btn-sm btn-outline-secondary"
                (click)="addToCart(item.product._id!, 1)"
              >
                +
              </button>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column gap-1">
              <p class="text-muted mb-0 small">
                <s>${{ item.product.price.toFixed(2) }}</s>
                <span class="text-success ms-2 fw-semibold">
                  {{ item.product.discount }}% OFF
                </span>
              </p>

              <p class="text-dark fw-bold mb-0">
                ${{ sellingPrice(item.product).toFixed(2) }} ×
                {{ item.quantity }}
              </p>

              <!-- Show total price -->
              <p class="fw-bold mb-0" [style.color]="'#4f46e5'">
                Total: ${{
                  (sellingPrice(item.product) * item.quantity).toFixed(2)
                }}
              </p>
            </div>
          </td>

          <td>
            <button
              class="btn btn-sm btn-danger"
              title="Delete"
              (click)="removeFormCart(item.product._id)"
            >
              <i class="pi pi-trash mt-1"></i>
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center">Your cart is empty.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div
    class="card mt-4 p-3 d-flex flex-column flex-md-row justify-content-between align-items-center"
  >
    <div class="mb-3 mb-md-0">
      <h5 class="mb-0">
        Total:
        <span [style.color]="'#4f46e5'"
          ><b>${{ totalAmount.toFixed(2) }}</b></span
        >
      </h5>
    </div>
    <button class="d-btn" (click)="(checkoutOrderStepUpdate)">
      Proceed to Checkout
    </button>
  </div>

  }@else if (orderStep === 1) {
  <div class="my-5">
    <div class="row g-4">
      <div class="col-lg-8">
        <div class="card p-4 shadow-sm">
          <h4 class="mb-4">Delivery Information</h4>

          <form [formGroup]="deliveryForm" class="row g-3">
            <div class="col-md-6">
              <label for="firstName" class="form-label">First Name*</label>
              <input
                pInputText
                type="text"
                id="firstName"
                placeholder="Enter first name"
                class="form-control"
                formControlName="firstName"
              />
              @if (isInvalid('firstName')) {
              <p-message severity="error" size="small" variant="simple">
                First Name is required.
              </p-message>
              }
            </div>

            <div class="col-md-6">
              <label for="lastName" class="form-label">Last Name*</label>
              <input
                pInputText
                type="text"
                id="lastName"
                placeholder="Enter last name"
                class="form-control"
                formControlName="lastName"
              />
              @if (isInvalid('lastName')) {
              <p-message severity="error" size="small" variant="simple">
                Last Name is required.
              </p-message>
              }
            </div>

            <div class="col-md-12">
              <label for="email" class="form-label">Email*</label>
              <input
                pInputText
                type="email"
                id="email"
                placeholder="Enter email address"
                class="form-control"
                formControlName="email"
              />
              @if (isInvalid('email')) { @if
              (deliveryForm.get('email')?.errors?.['required']) {
              <p-message severity="error" size="small" variant="simple">
                Email is required.
              </p-message>
              } @if (deliveryForm.get('email')?.errors?.['email']) {
              <p-message severity="error" size="small" variant="simple">
                Please enter a valid email.
              </p-message>
              } }
            </div>

            <div class="col-md-12">
              <label for="streetAddress" class="form-label"
                >Street Address*</label
              >
              <input
                pInputText
                type="text"
                id="streetAddress"
                placeholder="Enter street address"
                class="form-control"
                formControlName="streetAddress"
              />
              @if (isInvalid('streetAddress')) {
              <p-message severity="error" size="small" variant="simple">
                Street address is required.
              </p-message>
              }
            </div>

            <div class="col-md-6">
              <label for="city" class="form-label">City*</label>
              <input
                pInputText
                type="text"
                id="city"
                placeholder="Enter city"
                class="form-control"
                formControlName="city"
              />
              @if (isInvalid('city')) {
              <p-message severity="error" size="small" variant="simple">
                City is required.
              </p-message>
              }
            </div>

            <div class="col-md-6">
              <label for="state" class="form-label">State*</label>
              <input
                pInputText
                type="text"
                id="state"
                placeholder="Enter state"
                class="form-control"
                formControlName="state"
              />
              @if (isInvalid('state')) {
              <p-message severity="error" size="small" variant="simple">
                State is required.
              </p-message>
              }
            </div>

            <div class="col-md-6">
              <label for="zipCode" class="form-label">Zip Code*</label>
              <input
                pInputText
                type="text"
                id="zipCode"
                placeholder="Enter zip code"
                class="form-control"
                formControlName="zipCode"
              />
              @if (isInvalid('zipCode')) {
              <p-message severity="error" size="small" variant="simple">
                Zip Code is required.
              </p-message>
              }
            </div>

            <div class="col-md-6">
              <label for="country" class="form-label">Country*</label>
              <input
                pInputText
                type="text"
                id="country"
                placeholder="Enter country"
                class="form-control"
                formControlName="country"
              />
              @if (isInvalid('country')) {
              <p-message severity="error" size="small" variant="simple">
                Country is required.
              </p-message>
              }
            </div>

            <div class="col-md-12">
              <label for="phoneNumber" class="form-label">Phone Number*</label>
              <input
                pInputText
                type="text"
                id="phoneNumber"
                placeholder="Enter phone number"
                class="form-control"
                formControlName="phoneNumber"
              />
              @if (isInvalid('phoneNumber')) {
              <p-message severity="error" size="small" variant="simple">
                Phone Number is required.
              </p-message>
              }
            </div>
          </form>
        </div>
      </div>

      <!-- Cart Totals -->
      <div class="col-lg-4">
        <div class="card p-4 shadow-sm">
          <h5 class="mb-3 text-center">Cart Totals</h5>
          <div
            class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-3"
          >
            <span class="fw-semibold fs-5">TOTAL</span>
            <span [style.color]="'#4f46e5'" class="fw-bold fs-5"
              >${{ totalAmount.toFixed(2) }}</span
            >
          </div>
          <button class="d-btn" (click)="onSubmit()">Proceed To Payment</button>
        </div>
      </div>
    </div>
  </div>

  }@else if(orderStep === 2){
  <div class="card p-4 shadow-sm">
    <h1 class="fs-4 fw-bold mb-4">Select Payment Method</h1>

    <div class="mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="paymentType"
          id="cashPayment"
          value="cash"
          [(ngModel)]="paymentType"
        />
        <label class="form-check-label" for="cashPayment">
          Cash on Delivery
        </label>
      </div>

      <div class="form-check mt-2">
        <input
          class="form-check-input"
          type="radio"
          name="paymentType"
          id="cardPayment"
          value="card"
          disabled
          [(ngModel)]="paymentType"
        />
        <label class="form-check-label text-muted" for="cardPayment">
          Card (Coming Soon)
        </label>
      </div>
    </div>

    @if (!paymentType) {
    <p-message
      severity="warn"
      size="small"
      text="Please select a payment method."
    ></p-message>
    }

    <button
      type="submit"
      class="w-100 mt-3 d-btn"
      [disabled]="!paymentType"
      (click)="completeOrder()"
    >
      Continue
    </button>
  </div>
  }

  <app-footer />
</div>
