.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;  
}

.title-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  svg {
    transition: transform 0.3s ease-in-out;
  }

  .rotated {
    transform: rotate(180deg);
  }
}


.text-size{
  font-size: 15px;
}