.sidebar {
  width: 250px;
}

.title-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  svg {
    transition: transform 0.3s ease-in-out;
  }

  .rotated {
    transform: rotate(180deg);
  }
}
