<div class="container-lg py-lg-4">
  <h3 class="mb-4">Add New Product</h3>

  <p-toast />

  <div class="card p-4">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="col-md-6">
        <label for="name" class="form-label">Product Name</label>
        <input
          pInputText
          id="name"
          placeholder="Enter product name"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'ng-invalid': isInvalid('name') }"
        />
        @if (isInvalid('name')) {
        <p-message severity="error" size="small" variant="simple">
          Product name is required.
        </p-message>
        }
      </div>

      <div class="col-md-6">
        <label for="shortDescription" class="form-label"
          >Short Description</label
        >
        <input
          pInputText
          id="shortDescription"
          placeholder="Enter short description"
          formControlName="shortDescription"
          class="form-control"
        />
        @if (isInvalid('shortDescription')) {
        <p-message severity="error" size="small" variant="simple">
          Short Description is required.
        </p-message>
        }
      </div>

      <div class="col-12">
        <label for="description" class="form-label">Detailed Description</label>
        <textarea
          pInputTextarea
          id="description"
          rows="4"
          placeholder="Enter detailed product description"
          formControlName="description"
          class="form-control"
        ></textarea>
        @if (isInvalid('description')) {
        <p-message severity="error" size="small" variant="simple">
          Description is required.
        </p-message>
        }
      </div>

      <div class="col-md-4">
        <label for="price" class="form-label">Price ($)</label>
        <input
          pInputText
          type="number"
          id="price"
          placeholder="Enter price"
          formControlName="price"
          class="form-control"
        />
        @if (isInvalid('price')) {
        <p-message severity="error" size="small" variant="simple">
          Price is required.
        </p-message>
        }
      </div>

      <div class="col-md-4">
        <label for="discount" class="form-label">Discount (%)</label>
        <input
          pInputText
          type="number"
          id="discount"
          placeholder="Enter discount"
          formControlName="discount"
          class="form-control"
        />
        @if (isInvalid('discount')) {
        <p-message severity="error" size="small" variant="simple">
          Discount is required.
        </p-message>
        }
      </div>

      <div class="col-md-2 d-flex align-items-center">
        <p-checkbox
          inputId="isFeatured"
          binary="true"
          formControlName="isFeatured"
        ></p-checkbox>
        <label for="isFeatured" class="ms-2 mt-1">Featured</label>
      </div>

      <div class="col-md-2 d-flex align-items-center">
        <p-checkbox
          inputId="isNew"
          binary="true"
          formControlName="isNew"
        ></p-checkbox>
        <label for="isNew" class="ms-2 mt-1">New</label>
      </div>

      <div class="col-md-6">
        <label for="categoryId" class="form-label">Category</label>
        <p-select
          [options]="categories"
          optionLabel="label"
          formControlName="categoryId"
          placeholder="Select a category"
          class="w-100"
        ></p-select>
        @if (isInvalid('categoryId')) {
        <p-message severity="error" size="small" variant="simple">
          Category is required.
        </p-message>
        }
      </div>

      <div class="col-md-6">
        <label for="brandId" class="form-label">Brand</label>
        <p-select
          [options]="brands"
          optionLabel="label"
          formControlName="brandId"
          placeholder="Select a brand"
          class="w-100"
        ></p-select>
        @if (isInvalid('brandId')) {
        <p-message severity="error" size="small" variant="simple">
          Brand is required.
        </p-message>
        }
      </div>
      <div class="col-12">
        <label for="images" class="form-label">Product Image</label>
        <input
          type="url"
          id="images"
          placeholder="Enter product images"
          formControlName="images"
          class="form-control"
          [ngClass]="{ 'ng-invalid': isInvalid('images') }"
        />
        @if (isInvalid('images')) {
        <p-message severity="error" size="small" variant="simple">
          Product Images is required.
        </p-message>
        }
      </div>

      <div class="d-flex gap-2 justify-content-end">
        <button pButton severity="danger" type="reset">
          <span pButtonLabel>Reset</span>
        </button>
        <button pButton severity="secondary" type="add">
          <span pButtonLabel>Add</span>
        </button>
      </div>
    </form>
  </div>
</div>
