$primary-color: #4f46e5;
$light-bg: #fff;
$transition: 0.3s;
.footer {
  .footer-link {
    display: block;
    color: #333;
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  .logo {
    color: $primary-color;
    cursor: pointer;
  }

  form {
    input {
      min-width: 0;
    }
  }

  i {
    transition: color 0.3s;
    &:hover {
      color: $primary-color;
    }
  }

  .sub_btn {
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: $light-bg;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color $transition;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}
